body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background-color: #F0F0F0; 
    color: #002244; 
}

h1 {
    color: #004488;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50; 
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #3b883f; 
    transform: scale(1.05);
}

form {
    display: inline-block;
}
