
body {
    font-family: Arial, sans-serif;
    background-color: #0056b3;
    margin: 0;
    padding: 20px;
    color: #002244;
}


.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    color: #004488;
    font-size: 24px;
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #555;
}


input[type="number"],
input[type="text"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


button, .btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Verde */
    color: white;
    transition: background-color 0.3s ease;
}

button:hover, .btn:hover {
    background-color: #45a049; /* Verde más oscuro */
}


fieldset {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 15px;
}

legend {
    font-weight: bold;
    color: #555;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #E0E6EF;
    font-weight: bold;
}

td input[type="checkbox"] {
    transform: scale(1.2);
}
